.venv/
.idea/
.vscode/
*.iml
*.lock
*.out
__pycache__/
*.pkl

AGModels/
AutogluonModels/
datasets/
logs/
openml_cache/
stash/
tests/
hyperopt/
imbaml/

cloud.yaml
requirements.txt
benchmark/main.py
bench.sh
examples/local_data.py